* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}
@font-face {
	font-family: 'Technology';
	src: url('../fonts/Technology-Bold.eot');
	src: local('☺'), url('../fonts/Technology-Bold.woff') format('woff'), url('../fonts/Technology-Bold.ttf') format('truetype'), url('../fonts/Technology-Bold.svg') format('svg');
}


.spinner-grow{
  width: 14px;
  height: 14px;
}
.form-control{
  display: inline;
  position: relative;
  width: 250px;
  
  height: 38px;
}
.value-timer{
  font-family: Technology;
  font-size: 36;
}
.body{
      background-color: #ffc702;
}